body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  
}

nav span{
  display: flex;
  justify-content: space-around;
  
}

nav a{
  padding: 1rem;
  transition: all 0.25s;
}

nav a:hover {
  background-color: lightcoral;
  transition: all 0.5s;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 35%;
}

h1 {
  color: midnightblue;
}

h4 {
  font-style: italic;
}